<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hermes - Clientes</title>
    <link rel="stylesheet" href="/bulma/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <div class="columns is-mobile is-multiline">
            <div class="column is-half is-offset-one-quarter">
                <div class="column">
                    <a href= "/menu" class="button is-info is-medium is-rounded">Menu</a>
                </div>
                <div class="box">
                    <div class="columns is-gapless is-vcentered">
                        <div class="column">
                            <p class="title">
                                Clientes
                            </p>
                        </div>
                        <div class="has-addons is-right">
                            <a href= "/cad_cliente" class="button is-info is-normal is-right is-rounded">Novo Cliente</a>
                        </div>
                    </div>
                    <% for (cliente of clientes){%>
                        <div class="box">
                            <div class="columns is-gapless is-vcentered">
                                <div class="column">
                                    <p class="subtitle">
                                        <%= cliente.nomecliente %>
                                    </p>
                                    CNPJ: <%= cliente.cnpj %>
                                </div>
                                <div class="column is-one-fifth">
                                    <%if (cliente.ativo){%>
                                    <button class="button  is-small is-success is-rounded " disabled>Ativo</button>
                                    <% } else { %>
                                    <button class="button  is-small is-danger is-rounded " disabled>Inativo</button>
                                    <% } %>
                                </div>
                                <div class="column is-one-fifth">
                                    <a href= "/cad_cliente/<%= cliente.idcliente %>" class="button is-success is-normal is-right is-rounded">Editar</a>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>
<script>


</script>
</body>
</html>