<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hermes - Cadastro de Usuário</title>
    <link rel="stylesheet" href="/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/bulma/css/bulma-extensions.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
            <div class="column">
                <a href= "/menu" class="button is-info is-medium is-rounded">Menu</a>
            </div>
          <p class="subtitle">
            Editando Cadastro do Usuário: <%=nomeusuario%>
          </p>
            <form class="box" action="" method="post" id="formulario" onsubmit="return validarSenha();">
                <div class="field">
                    <label class="label">ID</label>
                    <div class="control">
                        <input class="input is-medium is-rounded" type="number" name="idusuario" disabled>
                    </div>
                </div>
                <div class="field">
                  <label class="label">Nome *</label>
                  <div class="control">
                    <input class="input is-medium is-rounded" type="text" name="nomeusuario">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Login</label>
                  <div class="control">
                    <input class="input is-medium is-rounded" type="text" name="login" disabled>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                    <input class="input is-medium is-rounded" type="email" name="email">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Telefone</label>
                  <div class="control">
                    <input class="input is-medium is-rounded" type="text" name="telefone">
                  </div>
                </div>
              
                <div class="field">
                  <label class="label">Senha *</label>
                  <div class="control">
                    <input class="input is-medium is-rounded" type="password" id="senha" name="senha" placeholder="********">
                  </div>
                </div>
              
                <div class="field">
                  <label class="label">Confirmação de Senha *</label>
                  <div class="control">
                    <input class="input is-medium is-rounded" type="password" id="confirma_senha" name="confirma_senha" placeholder="********">
                  </div>
                </div>
                <div class="field">
                  <input id="ativo" type="checkbox" name="ativo" class="switch is-rounded is-info is-medium" checked="checked">
                  <label for="ativo">Usuário Ativo</label>
                </div>
                <button type="submit" class="button is-info is-fullwidth is-medium is-rounded">Gravar</button>
            </form>
        </div>
      </div>
    </div>
  </section>
  <script>
      idusuario = `<%=idusuario%>`;
      nomeusuario = `<%=nomeusuario%>`;
      login = `<%=login%>`;
      telefone = `<%=telefone%>`;
      email = `<%=email%>`;
      ativo = `<%=ativo%>`;
      if(ativo=='false'){
          formulario.ativo.removeAttribute('checked');
      }

      formulario.idusuario.value = idusuario;
      formulario.nomeusuario.value = nomeusuario;
      formulario.login.value = login;
      formulario.telefone.value = telefone;
      formulario.email.value = email;

      formulario.action= '/cad_usuario/' + idusuario;

      function validarSenha(){
          obrigatorios = false;
          if(!(formulario.nomeusuario.value)){
              formulario.nomeusuario.classList.add('is-danger');
              obrigatorios = true;
          }else{
              formulario.nomeusuario.classList.remove('is-danger');
          }
          if(!(formulario.login.value)){
              formulario.login.classList.add('is-danger');
              obrigatorios = true;
          }else{
              formulario.login.classList.remove('is-danger');
          }
          if(!(formulario.senha.value)){
              formulario.senha.classList.add('is-danger');
              obrigatorios = true;
          }else{
              formulario.senha.classList.remove('is-danger');
          }
          if(!(formulario.confirma_senha.value)){
              formulario.confirma_senha.classList.add('is-danger');
              obrigatorios = true;
          }else{
              formulario.confirma_senha.classList.remove('is-danger');
          }
          if(obrigatorios){
              alert("Campos obrigatórios não foram informados!");
              return false
          }
          senha = formulario.senha.value;
          cSenha = formulario.confirma_senha.value;
          if (senha != cSenha){
              alert("Senhas informadas estão divergente!");
              formulario.senha.classList.add('is-danger');
              formulario.confirma_senha.classList.add('is-danger')
              return false;
          }
          formulario.idusuario.disabled = false;
          formulario.login.disabled = false;
          return true;
      }

  </script>
  </body>
</html>