<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hermes - Home</title>
    <link rel="stylesheet" href="/bulma/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <div class="columns is-mobile is-multiline">
            <div class="column is-half is-offset-one-quarter">
                <div class="column">
                    <a href= "/menu" class="button is-info is-medium is-rounded">Menu</a>
                </div>
                <div class="notification is-success" id="mensagem">
                    <button class="delete"></button>
                    <%=mensagem%>
                </div>
                <div class="box">
                    <p class="subtitle">
                        Bem Vindo, <strong>Usuário <%=login%></strong>!
                    </p>
                    <% if(monitoramentos) {%>
                    <div class="box">
                        <p class="subtitle">
                            <strong>Bancos Indisponíveis!</strong>
                        </p>
                        <% for (monitoramento of monitoramentos){%>
                        <div class="box">
                            <div class="columns is-gapless is-vcentered">
                                <div class="column">
                                    <p class="subtitle">
                                        <%= monitoramento.banco.nomebanco %>
                                    </p>
                                    IP: <%= monitoramento.banco.ip %>
                                    Porta: <%= monitoramento.banco.porta %>
                                </div>
                                <div class="column is-two-fifths">
                                    Ultima Verificação: <%= monitoramento.dtmonitoramento %>
                                    <br>
                                    Ultima vez Online: <%= monitoramento.dhinicial %>
                                </div>
                                <div class="column is-one-fifth">
                                    <a href= "/alocar/<%= monitoramento.idmonitoramento %>" class="button is-success is-warning is-right is-rounded">Verificar</a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var msg, tipo;
    msg = `<%=mensagem%>`;
    tipo = `<%=tipo%>`;
    if(tipo==1){
        mensagem.classList.add('is-sucess');
        mensagem.classList.remove('is-danger');
    }else{
        mensagem.classList.add('is-danger');
        mensagem.classList.remove('is-sucess');
    }

    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            const $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });

    function deletarNotificacao(){
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            const $notification = $delete.parentNode;
            $notification.parentNode.removeChild($notification);
        });
    }

    if (!(msg)){
        deletarNotificacao();
    }else{
        setTimeout(function() {deletarNotificacao()},5000);
    }

    function home(){
        window.location.href = "index";
    }

    setTimeout(function() {home()},8000);

    function play() {
        var audio = new Audio('/bulma/sound/nuclear.mp3');
        console.log('nuclear');
        audio.play();
        audio.stop();
    }
    var tocar = false;
    `<% for (monitoramento of monitoramentos){%>`
    tocar = true;
    `<% } %>`
    if(tocar){
        play();
    }


</script>
</body>
</html>