<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hermes - Cadastro de Usuário</title>
    <link rel="stylesheet" href="/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/bulma/css/bulma-extensions.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
            <div class="notification is-danger" id="mensagem">
                <button class="delete"></button>
                <%=mensagem%>
            </div>
            <div class="card-image has-text-centered">
                <figure class="image is-128x128 is-inline-block">
                    <img src="/bulma/img/hermes.png">
                </figure>
            </div>
          <h1 class="title">
            Hermes
          </h1>
          <p class="subtitle">
            Login
          </p>
            <form class="box" action="/login" method="post" id="formulario";">
                <div class="field">
                  <label class="label">Login</label>
                  <div class="control">
                    <input class="input is-medium is-rounded" type="text" name="login">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Senha</label>
                  <div class="control">
                    <input class="input is-medium is-rounded" type="password" id="senha" name="password" placeholder="********">
                  </div>
                </div>
                <button type="submit" class="button is-info is-fullwidth is-medium is-rounded">Entrar</button>
            </form>
        </div>
      </div>
    </div>
  </section>
  <script>
      var mensagem;
      mensagem = `<%=mensagem%>`;
      // $delete.parentNode.removeChild($delete.parentNode)
      console.log(mensagem);
      document.addEventListener('DOMContentLoaded', () => {
          (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
              const $notification = $delete.parentNode;

              $delete.addEventListener('click', () => {
                  $notification.parentNode.removeChild($notification);
              });
          });
      });

      function deletarNotificacao(){
          (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
              const $notification = $delete.parentNode;
              $notification.parentNode.removeChild($notification);
          });
      }

      if (!(mensagem)){
          deletarNotificacao();
      }

  </script>
  </body>
</html>