<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hermes - Menu Principal</title>
    <link rel="stylesheet" href="/bulma/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <div class="columns is-mobile is-multiline">
        <div class="column is-half is-offset-one-quarter">
          <div class="column">
            <a href= "/usuario" class="button is-info is-large is-fullwidth is-rounded">Usuários</a>
          </div>
          <div class="column">
            <a href= "/banco" class="button is-info is-large is-fullwidth is-rounded">Bancos</a>
          </div>
          <div class="column">
            <a href= "/cliente" class="button is-info is-large is-fullwidth is-rounded">Clientes</a>
          </div>
<!--          <div class="column">-->
<!--            <button class="button is-info is-large is-fullwidth is-rounded">Relacionamentos</button>-->
<!--          </div>-->
          <div class="column">
            <a href= "/historico" class="button is-info is-large is-fullwidth is-rounded">Histórico de Indisponibilidade</a>
          </div>
          <div class="column">
            <a href= "/meus_dados" class="button is-info is-large is-fullwidth is-rounded">Meus Dados</a>
          </div>
          <div class="column">
            <a href= "/sair" class="button is-info is-large is-fullwidth is-rounded">Sair</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>

    function home(){
      window.location.href = "index";
    }

    setTimeout(function() {home()},10000);
  </script>
  </body>
</html>